.drop-container {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 800px;
  height: 200px;
  border: 4px dashed black;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
